<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-link" routerLink=""> Sidebar</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-link" routerLink="home"> Home</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-link" routerLink="about">Aboutus</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-link" routerLink="contact"> Contact</a>
        </li>

    </ul>
</nav>