<div class="sidebar-container">
    <div class="sidebar-logo"> My App</div>
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
            <a href="#">Homepage </a>
        </li>
        <li>
            <a href="#"> Dashboard </a>
        </li>
        <li class="header">Another Menu</li>
        <li>
            <a href="#"> Friends</a>
        </li>
        <li>
            <a href="#"> Settings</a>
        </li>
        <li>
            <a href="#"> Information</a>
        </li>
    </ul>
</div>

<div class="content-container">

    <div class="container-fluid">

        <div class="jumbotron">
            <h1>Simple Sidebar </h1>

        </div>

    </div>
</div>